<!DOCTYPE html>
<html>
<head>
    <title>AI Chatbot</title>
</head>
<body>

<h1>Gemini Chatbot</h1>

<input type="text" id="message">
<button onclick="sendMessage()">Send</button>

<div id="chat"></div>

<script>

async function sendMessage() {

    let message =
    document.getElementById("message").value;

    let response = await fetch("/chat", {

        method: "POST",

        headers: {
            "Content-Type": "application/json"
        },

        body: JSON.stringify({
            message: message
        })
    });

    let data = await response.json();

    document.getElementById("chat").innerHTML +=
    "<p><b>You:</b> " + message + "</p>";

    document.getElementById("chat").innerHTML +=
    "<p><b>Bot:</b> " + data.reply + "</p>";
}
</script>

</body>
</html>